<html>
  <head>
    <title>[단독] 미국 Kylerina(킬레리나) 하늘에 '운석' 쏟아져...</title>

    <meta name="title" content="[단독] 미국 Kylerina(킬레리나) 하늘에 '운석' 쏟아져...">
    <meta name="subject" content="미국 Kylerina(킬레리나) 하늘에 운석이 쏟아졌다. 인명피해는 없었으나, 여러 건물이 파손, 파괴 되었다. 이 일로 인해 미국 킬레리나는 어마어마한 피해를 입었으며, 복구하는 데에는 최소 3개월이 걸린다고 한...">
    <meta name="keywords" content="[단독] 미국 Kylerina(킬레리나) 하늘에 '운석' 쏟아져... (가짜뉴스)">
    <meta name="author" content="[단독] 미국 Kylerina(킬레리나) 하늘에 '운석' 쏟아져...">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="[단독] 미국 Kylerina(킬레리나) 하늘에 '운석' 쏟아져..." />
    <meta property="og:description" content=미국 Kylerina(킬레리나) 하늘에 운석이 쏟아졌다. 인명피해는 없었으나, 여러 건물이 파손, 파괴 되었다. 이 일로 인해 미국 킬레리나는 어마어마한 피해를 입었으며, 복구하는 데에는 최소 3개월이 걸린다고 한...">
    <meta property="og:image" content="https://search.pstatic.net/common/?src=http%3A%2F%2Fimgnews.naver.net%2Fimage%2F5002%2F2014%2F03%2F10%2F20140310000098_0_59_20140310130102.jpg&type=sc960_832" />
  </head>
  
  <body>
    <h3>거짓말 입니다! 미국에는 킬레리나라는 곳이 없습니다!</h3>
  </body>
</html>
