<html>
  <head>
    <title>메신저 앱 '디스코드', 게임 스토어 기능 추가... 유저들 '짜증'</title>

    <meta name="title" content="메신저 앱 '디스코드', 게임 스토어 기능 추가... 유저들 '짜증'">
    <meta name="subject" content="메신저 앱인 '디스코드'가 지난 8월 29일에 스토어 기능을 추가하겠다 밝혔다. 이에 유저들은 환호했지만 베타 체험을 해보고서는 '메모리랑 용량만 높아지고 정작 인기있고 재밌는 게임은 없다.'는 반응을 보였다. 이에 디스코드 측에서는 현재 '스토어를 폐쇄할 지 논의를 할 것'이라 말했다. 그...">
    <meta name="keywords" content="메신저 앱 '디스코드', 게임 스토어 기능 추가... 유저들 '짜증' (LIE!)">
    <meta name="author" content="메신저 앱 '디스코드', 게임 스토어 기능 추가... 유저들 '짜증'">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="메신저 앱 '디스코드', 게임 스토어 기능 추가... 유저들 '짜증'" />
    <meta property="og:description" content="메신저 앱인 '디스코드'가 지난 8월 29일에 스토어 기능을 추가하겠다 밝혔다. 이에 유저들은 환호했지만 베타 체험을 해보고서는 '메모리랑 용량만 높아지고 정작 인기있고 재밌는 게임은 없다.'는 반응을 보였다. 이에 디스코드 측에서는 현재 '스토어를 폐쇄할 지 논의를 할 것'이라 말했다. 그...">
    <meta property="og:image" content="https://search.pstatic.net/common/?src=http%3A%2F%2Fpost.phinf.naver.net%2FMjAxODEwMTdfMjg0%2FMDAxNTM5NzY3MzYyMjUy.YMfjguJ4GAFOc89pwX7N0e3Cw7Zo5xnhZmcPHqkzpfMg.81Z8bfHj6x6jMqFyyomC735itPNy9F4XdxsigECVgWkg.JPEG%2FICjgtLt4p6o2R4XifMwhnl-hSnJo.jpg&type=sc960_832" />
  </head>
  
  <body>
  </body>
</html>
