<html>
  <head>
    <title>[IT] 불법 프로그램 사용자 다음달 부터 '엄중처벌'</title>

    <meta name="title" content="[IT] 불법 프로그램 사용자 다음달 부터 '엄중처벌'">
    <meta name="subject" content="코로나19가 확산 된 가운데 집에 있는 사람들이 많아졌다. 그리고 집에 있는 사람들이 많아지자, 게임의 불법 프로그램 사용자로 덩달아 늘어났다. 이 이유로 사이버 경찰청의 신고 접수 수는 점점 늘어났고 하루 신고 접수 수가 약 1만 2천 7백회를 돌파하기까지 했다. 이러한 이유로 정부에서는 다음달부터 불법 프로그램 사용자를 엄중처벌한다 밝혔고, 놀랍게도 이 이후로 불법 프로그램 사용자가 줄어...">
    <meta name="keywords" content="[IT] 불법 프로그램 사용자 다음달 부터 '엄중처벌' (LIE!)">
    <meta name="author" content="[IT] 불법 프로그램 사용자 다음달 부터 '엄중처벌'">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="[IT] 불법 프로그램 사용자 다음달 부터 '엄중처벌'" />
    <meta property="og:description" content="코로나19가 확산 된 가운데 집에 있는 사람들이 많아졌다. 그리고 집에 있는 사람들이 많아지자, 게임의 불법 프로그램 사용자로 덩달아 늘어났다. 이 이유로 사이버 경찰청의 신고 접수 수는 점점 늘어났고 하루 신고 접수 수가 약 1만 2천 7백회를 돌파하기까지 했다. 이러한 이유로 정부에서는 다음달부터 불법 프로그램 사용자를 엄중처벌한다 밝혔고, 놀랍게도 이 이후로 불법 프로그램 사용자가 줄어...">
    <meta property="og:image" content="https://search.pstatic.net/common/?src=http%3A%2F%2Fimgnews.naver.net%2Fimage%2F052%2F2019%2F02%2F14%2F201902141424552167_t_20190215013510378.jpg&type=sc960_832" />
  </head>
  
  <body>
  </body>
</html>
