<html>
  <head>
    <title>이제껏보지 못한 새로운 '희귀종' 동물 미국서 발견...</title>

    <meta name="title" content="이제껏보지 못한 새로운 '희귀종' 동물 미국서 발견...">
    <meta name="subject" content="이제껏보지 못한 새로운 '희귀종' 동물 미국서 발견...">
    <meta name="keywords" content="이제껏보지 못한 새로운 '희귀종' 동물 미국서 발견... (가짜뉴스)">
    <meta name="author" content="이제껏보지 못한 새로운 '희귀종' 동물 미국서 발견...">
    <meta property="og:type" content="website" />
    <meta property="og:title" content="이제껏보지 못한 새로운 '희귀종' 동물 미국서 발견..." />
    <meta property="og:description" content="이제껏보지 못한 새로운 '희귀종' 동물 미국서 발견...">
    <meta property="og:image" content="https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2F20141013_262%2F22oolung_1413178747233dPour_JPEG%2F%25BA%25CE%25BB%25EA%25B5%25BF%25B9%25B0%25BF%25F88.jpg&type=sc960_832" />
  </head>
  
  <body>
    <h1>희귀종은 없었습니다..!</h1>
  </body>
</html>
